@import "~bootstrap/scss/bootstrap";

html,
body {
	min-height: 100vh;
	min-width: 100vw;
	font-family: "Open Sans", Arial, sans-serif !important;
	margin: 0;
	padding: 0;
}


h1,
h2,
h3 {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 2vw;
}

#wrapper {
	max-width: 100vw;
	width: 100vw;
	min-height: 100vh;
	position: relative;
	background-color: #FEFFEF !important;
	padding-bottom: 5vh;

	#content {
		width: 40vw;

	}

}




