@import "~bootstrap/scss/bootstrap";

#landing, #landing > *, #landing > * > *{
	width: 40vw;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#poll {
	background-color: white;
}

#landingbuttons {
	justify-content: space-around !important;
	display: flex;
	width: 40vw;
}
