@import "~bootstrap/scss/bootstrap";


nav {
	padding: 5px 30px;
}

input.otherAnswer[type='text']:focus,
textarea {
	background-color: #e0e0e0 !important;
}

.otherAnswer {
	width: 200px !important;
}


.noHandPointer {
	cursor: default !important;
}

.answerOptions {
	padding-top: '2rem';
	margin-left: 25px;
}

.blockBtns {
	display: block;
	margin: 0px 20px 10px 20px;
}
